<div class="linksMenu">
    <i class="fa-solid burger fa-bars"></i>
    <div class="liks">
        <a href="/" whtpg="dashboard" class=""><i class="fa-solid fa-table-columns"></i><span>Dashboard</span></a>
        <a href="/learn" whtpg="learn"><i class="fa-solid fa-book"></i><span>Learn</span></a>
        <a href="/reports" whtpg="reports"><i class="fa-solid fa-chart-simple"></i><span>Reports</span></a>
        <a href="/roadmap" whtpg="roadmap"><i class="fa-regular fa-map"></i><span>Roadmap</span></a>
    </div>
</div>
