<nav class="mobileHeader is-flex is-justify-content-space-evenly">
    <a class="navbar-item mobileHide" href="/" whtpg="dashboard"><i class="fa-solid fa-table-columns"></i></a>
    <a class="navbar-item mobileHide" href="/learn" whtpg="learn"><i class="fa-solid fa-book"></i></a>
    <a class="navbar-item mobileHide" href="/reports" whtpg="reports"><i class="fa-solid fa-chart-simple"></i></a>
    <a class="navbar-item mobileHide" href="/roadmap" whtpg="roadmap"><i class="fa-regular fa-map"></i></a>
</nav>
