<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
    
    <nav class="backnav is-flex is-justify-content-space-between is-align-items-center">
        <a href="../" class="backto"><i class="fa-solid fa-caret-left"></i> Back</a>
        <p class="subtitle is-5 has-text-weight-mediume has-text-grey-lighter">IELTS Writing Part 1 Training</p>
    </nav>

    <div class="block contenter train">
        <div class="usrtxt txtContentBox">
            <p class="subtitle is-4 has-text-weight-mediume">Your Writing</p>
            <div class="txtBox" id="userWriteing"></div>
        </div>

        <div class="aitxt txtContentBox">
            <p class="subtitle is-4 has-text-weight-mediume">Correction & Feedback</p>
            <div class="txtBox aiTxtBox" id="aiWriting"></div>
        </div>
    </div>


    <div class="boxShadowbg"></div>
    <div class="columns apsoluted is-centered studyOptions" id="answerpopup">
        <div class="column is-5 has-text-centered">
            <div class="optioner" id="goTopic">
                <i class="fa-regular fa-newspaper is-size-2"></i>
                <p class="is-size-4">I've a ready topic</p>
            </div>
        </div>
        <div class="column is-5 has-text-centered">
            <div class="optioner" id="gnrateTopic">
                <i class="fa-solid fa-file-pen is-size-2"></i>
                <p class="is-size-4">Generate a Topic</p>
            </div>
        </div>
        <div class="column is-9 popuper" style="display: none">
            <p class="title is-4 has-text-weight-medium">Put Your IELTS Writing for Part 1 to Rate it</p>
            <p class="is-size-6">At least you need to write 100 words to submit</p>
            <textarea name="" id="getWriting" class="getWriting"></textarea>
            <p class="is-size-7"><span id="wordsnum" miner="150">0</span> / <span class="has-text-success">150</span> words</p>
            <div class="buttons">
                <button class="button is-purpleGrade" role="button" id="submitWrite">Submit</button>
                <a class="button is-danger is-small" role="button" href="../">Cancel</a>
            </div>
        </div>
    </div>

</body>
</html>
<script src='/models/main.js'></script>
<script src='/assets/js/callAPI.js'></script>
<script>
    IeltsWriting1.init()
</script>