<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

<body>

    <nav class="backnav is-flex is-justify-content-space-between is-align-items-center">
        <a href="../" class="backto"><i class="fa-solid fa-caret-left"></i> Back</a>
        <p class="subtitle is-5 has-text-weight-mediume has-text-grey-lighter">Pronounce Word</p>
    </nav>

    <a id="yg-widget-0" class="youglish-widget" data-query="great%20power" data-lang="english" data-components="8415" data-bkg-color="theme_light"  rel="nofollow" href="https://youglish.com">Visit YouGlish.com</a>
<script async src="https://youglish.com/public/emb/widget.js" charset="utf-8"></script>
</body>

</html>
<script src='/models/main.js'></script>
<script src='/assets/js/callAPI.js'></script>