<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
    
    <nav class="backnav is-flex is-justify-content-space-between is-align-items-center">
        <a href="../" class="backto"><i class="fa-solid fa-caret-left"></i> Back</a>
        <p class="subtitle is-5 has-text-weight-mediume has-text-grey-lighter">Write Image Caption</p>
    </nav>

    <div class="block contenter train">
        <div class="usrtxt txtContentBox">
            <p class="subtitle is-4 has-text-weight-mediume">Your Writing</p>
            <div class="txtBox" id="userWriteing"></div>
        </div>

        <div class="aitxt txtContentBox">
            <p class="subtitle is-4 has-text-weight-mediume">Correction & Feedback</p>
            <div class="txtBox aiTxtBox" id="aiWriting"></div>
        </div>
    </div>


    <div class="boxShadowbg"></div>
    <div class="columns apsoluted is-centered studyOptions" id="answerpopup">
        <div class="column is-9 popuper" style="display: block">
            <img src="" alt="" id="imageToCraft">
            <p class="title is-4 has-text-weight-medium">Write the image caption here</p>
            <p class="is-size-6">At least you need to write 50 words to submit</p>
            <textarea name="" id="getWriting" class="getWriting"></textarea>
            <p class="is-size-7"><span id="wordsnum" miner="50">0</span> / <span class="has-text-success">50</span> words</p>
            <div class="buttons">
                <button class="button is-purpleGrade" role="button" id="submitWrite">Submit</button>
                <a class="button is-danger is-small" role="button" href="../">Cancel</a>
            </div>
        </div>
    </div>

</body>
</html>
<script src='/models/main.js'></script>
<script src='/assets/js/callAPI.js'></script>
<script>
    IeltsWriting1.init()
</script>
<!-- <script>
    // Replace 'YOUR_ACCESS_KEY' with your actual API access key
const accessKey = '6k1u0Kl_rKhtpE1NLWy0m_MXp-PNaHfmBJz23w4RVE4';
const container = document.getElementById('answerpopup');

// Function to fetch images from the Unsplash API
function fetchImages() {
  fetch(`https://api.unsplash.com/photos/random?client_id=${accessKey}`)
    .then(response => response.json())
    .then(data => {
      // Extract the image URL from the API response
      const imageUrl = data.urls.regular;

      // Create an image element and set the source
      const image = document.createElement('img');
      image.src = imageUrl;

      // Append the image to the container
      container.appendChild(image);
    })
    .catch(error => console.log(error));
}

// Call the fetchImages function to get and display an image
fetchImages();

</script> -->